.appstore {
  .thumbnail {
  height: 200px;
       position: relative;
   }
   .card-controls {
        position: absolute;
        top:0;
        right: 0;
        padding: 10px;
    }
   .no-padding {
       padding-left: 0;
       padding-right: 0;
   }
 }
