<template name="appstore">
  <div class="container appstore">
      <div class="row">
          <div class="col-sm-12">
              <h1 class="pageTitle"><i class="glyphicon glyphicon-shopping-cart"></i> App Store</h1>
          </div>
      </div>
      <hr>

      {{#if currentUser}}
        <div class="wrapper">
          <div class="new-app">
            <button style="vertical-align: middle;" type="button" class="btn btn-link center-block btn-edit-app" data-toggle="modal" data-target="#editbox-{{hash}}" title="Create new application">
                <i style="font-size: 100px; color:grey;" class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </div>
        {{> editAppDefBox}}
      {{/if}}

      {{#each apps}}
        <div class="wrapper">
          <div class="appcard">
              <div style="background-image: url({{pic}});" class="pull-left img">&nbsp;</div>
              <div class="pull-left">
                <h2>{{name}}</h2>
                <h3>{{version}}</h3>
                <p>
                  {{description}}
                </p>
              </div>
          </div>
          <div class="optcard">
            {{#if currentUser}}
              <div class="btn-group" style="display:block">
                <a title="Edit" href="#" data-toggle="modal" data-target="#editbox-{{hash}}">
                  <i class="glyphicon glyphicon-cog"></i>
                </a>
              </div>
              <div class="btn-group" style="display:block">
                <a title="Remove" href="#" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
                <form role="form" class="dropdown-menu dropdown-menu-right" style="padding:1em">
                  <div class="form-group" style="width:20em">
                    <div class="alert alert-warning" role="alert">
                      Are you sure you want to remove this app?
                    </div>
                  </div>
                  <button type="button" class="btn-remove-app btn btn-mini btn-danger pull-right">Yes!</button>
                </form>
              </div>
            {{else}}
              <div class="btn-group" style="display:block">
                <a title="View" href="#" data-toggle="modal" data-target="#viewbox-{{hash}}">
                  <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
              </div>
            {{/if}}
          </div>
        </div>
        {{> editAppDefBox}}
        {{> viewAppDefBox}}
      {{/each}}

  </div>
</template>
